# Oracle OHIP
ORACLE_BASE_URL=
ORACLE_CLIENT_ID=
ORACLE_CLIENT_SECRET=
ORACLE_HOTEL_ID=CAR
ORACLE_APP_KEY=
ORACLE_EXTERNAL_SYSTEM=CLOSAP_HS
ORACLE_CANCELLATION_REASON_CODE=CANCEL

# HubSpot
HUBSPOT_ACCESS_TOKEN=
HUBSPOT_CLIENT_SECRET=

# App
NODE_ENV=development
PORT=3000

# PostgreSQL
DATABASE_URL=postgresql://user:pass@localhost:5432/puente_dev
